 .background{
     background-image: url("robotic_hand.jpg");
     
     background-repeat: no-repeat;
     background-attachment:fixed;
     background-size: 100%;
     height: 15px;
     margin: 0in;
     width: 100%;
 }
 .head1{
     background-color: #a9dfbf(60, 226, 115, 0.788);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: normal;
     font: weight 500;
     width: 90%;
     text-decoration: none;
     color: azure;
     padding-left:40px;
     text-align: left;
     margin-left: 80px;
     top: 55px;
     position: absolute;
     
     

 }
 z.x1{
   background-color: black;
   display: inline;
 }
 .l1{
    background-color: #a9dfbf(43, 32, 39, 0.788);
    backface-visibility: hidden;

    font-size: 20px;
    width: 90%;
    text-decoration: none;
    font-weight:300 ;
    color: azure;
    padding: 15px;
    padding-left:120px;
    text-align: left;
    margin-left: 80px;
    top: 105px;
    position: absolute;
    
 }
 .x1{
     background-color: black;
     top: 50px;

 }
 .x2{
     font-size: 70%;
     padding:10px;
     background-color: black;
     margin-top:50px;
    line-height: 50px;
 }
 .fa {
  
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-instagram {
    padding: 10px;
    border-radius: 1px;
    background: #a9dfbf;
    border-radius: 5px;
    align-items: center;
    color: white;
    margin-left: 1000px;
    margin-right: 20px;
    
  } 
  .fa-facebook {
    top: 50%;
    background: #233e77;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    align-items: center;
  }
.fa-youtube {
    background: #bb0000;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
    
  }
  #abha{
      top: 50000px;

  }
 .w{
   color: rgb(221, 225, 233);
 }
 